# Server Port
PORT=7002

# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/bharatshoppy?retryWrites=true&w=majority

# Client Application URL
CLIENT_URL=http://localhost:5173
